@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animate-up {
  animation-name: up;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}


@keyframes right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-right {
  animation-name: right;
  animation-duration: 0.3s;
}