.primary-button {
  margin-top: 6.4rem;
  width: 100%;
  height: 6.4rem;
  border: none;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s ease-in-out;
}
.primary-button:hover {
  background: #36CF82;
}
.primary-button img {
  margin-right: 1.6rem;
}