
form {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #D3E2E5;
  border-radius: 2rem;
  overflow: hidden;
  padding: 8rem;
}

fieldset {
  border: 0;
}
fieldset legend {
  width: 100%;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #5C8599;
  font-weight: 700;
  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
}
fieldset + fieldset {
  margin-top: 8rem;
}
.input-block + .input-block {
  margin-top: 2.4rem;
}
.input-block label {
  color: #8FA7B3;
  margin-bottom: .8rem;
  line-height: 1.5;
}
.input-block label span {
  font-size: 1.4rem;
  color: #8FA7B3;
  margin-left: 2.4rem;
  line-height: 1.5;
}
.input-block input, .input-block textarea {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 2rem;
  color: #5C8599;
}
.input-block input:focus, .input-block textarea:focus, .input-block button.add:focus {
  outline: none;
  box-shadow: 0 0 0 2px #289fb4;
  border: none;
}
.input-block input {
  box-sizing: border-box;
  height: 6.4rem;
  padding: 0 1.6rem;
}
.input-block textarea {
  box-sizing: border-box;
  height: clamp(12rem, 16rem, 24rem);
  resize: vertical;
  padding: 1.6rem;
  line-height: 2.8rem;
}

.input-block button.add {
  border: 1px dashed #96D2F0;
  width: 100%;
  background: #F5F8FA;
  height: 6.4rem;
  padding: 0 1.6rem;
  margin-top: 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
}