.orphanages-page {
  width: 100%;
  height: 100%;

  display: flex;
}

aside {
  box-sizing: border-box;

  width: clamp(24rem, 25vw, 44rem);
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
  padding: clamp(3rem, 5vw, 8rem);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside h2 {
  margin-top: 6.4rem;
  font: bold clamp(2rem, 5vw, 3.6rem)/1.1 "Nunito", sans-serif;
}
aside p {
  margin-top: 2.4rem;
  font: 400 1.6rem/1.5 "Nunito", sans-serif;
}
aside footer p {
  margin-top: .8rem;
  
}
