<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy</title>
  <link rel="shortcut icon" href="../../public/images/logo-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../../public/css/main.css">
  <link rel="stylesheet" href="../../public/css/animations.css">
  <link rel="stylesheet" href="../../public/css/landing-page.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>

  <div class="landing-page">
    <div class="container">
      <header>
        <img src="../../public/images/logo.svg" alt="Logomarca de Happy" class="logo animate-up">
        <div class="location animate-up">
          <strong>Santos</strong>
          <p>São Paulo</p>
        </div>
      </header>
    
      <main>
        <h1 class="animate-up">Leve felicidade para o mundo</h1>
        <section class="visit">
          <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças.</p>
          <a href="orphanages.html" title="Visite orfanatos" class="visit-btn animate-up">
            <img src="../../public/images/arrow.svg" alt="Ir para o mapa">
          </a>
        </section>
      </main>
    </div>
  </div>

</body>
</html>